<div
class="bosses"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    />
    <div
    class="bosses__card"
    *ngFor="let boss of bosses | pagination:pagina | search:searchName"
    >
        <div
        (click)="goToDetail(boss.id)"
        class="bosses__card-data"
        >
            <p
            class="bosses__card-list"
            >{{ boss.name }}</p>
        </div>
    </div>
    <div
    class="bosses__buttons"
    >
        <button
        [ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
        (click)="prevPage()"
        class="btn"
        >PREVIOUS</button>
        <button
        [ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
        (click)="nextPage()"
        class="btn"
        >NEXT</button>
    </div>
</div>
