.characterDET{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__card{
        width: 700px;
        height: 700px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        display: grid;
        border-radius: 5%;
        border: 2px solid #c4b59a;
        box-shadow: 0 0 15px #c4b59a;
        &-datos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-nomEdad{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 26px;
        }
        &-nombre{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        &-image{
            width: 200px;
            height: 200px;
            background-color: black;
            border: 2px solid #c4b59a;
            box-shadow: 0 0 15px #c4b59a;
            grid-column: 1fr;
            border-radius: 50%;
        }
        &-imageStats{
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 2px solid #c4b59a;
            padding: 15px;
        }
        &-imageClase{
            width: 135px;
            height: 200px;
            background-color: black;
            border: 2px solid #c4b59a;
            box-shadow: 0 0 15px #c4b59a;
            grid-column: 1fr;
            border-radius: 5px;
        }
        &-text{
            font-size: 18px;
            padding-top: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
        &-buttons{
            display: flex;
            justify-content: space-around;
        }
    }
}
.description{
    background-color: #b3a07d;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    box-shadow: 0 0 10px #b3a07d;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 480px) {

    .characterDET__card{
        
            width: 390px;
            max-height: 563px;
            &-image{
                width: 100px;
                height: 100px;
            }
            &-nomEdad{
                font-size: 18px;
            }
            &-nombre{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &-imageClase{
                width: 101.25px;
                height: 150px;
            }
            &-text{
                font-size: 15px;
                padding-top: 6px;
                gap: 7px;
            }
    }
    
 }

 @media screen and (min-width: 480px) and (max-width: 670px) {

    .characterDET__card{
        
            width: 590px;
            max-height: 563px;
            &-image{
                width: 120px;
                height: 120px;
            }
            &-nomEdad{
                font-size: 18px;
            }
            &-nombre{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &-imageClase{
                width: 130px;
                height: 180px;
            }
            &-text{
                font-size: 15px;
                padding-top: 6px;
                gap: 7px;
            }
    }
    
 }