<div
class="header"
>
    <img 
        (click)="goHome()"
        class="header__logo"
        src="../../../../assets/images/eldenring-opensource-logo.png"
        alt="logo Elden"
    />
</div>
<div
*ngIf="logged"
class="logout"
>
    <img
    (click)="addButton()"
    class="runa" 
    src="../../../../assets/images/eldenring-rune-icon.png" 
    alt="runa logged">
    <button
    (click)="cerrarSesion()"
    *ngIf="logOut"
    class="btn"
    >LOGOUT</button>
</div>
<nav class="nav-main">
    <input
    type="checkbox"
    class="nav-main__btn-collapse"
    id="navMain__checkbox"
    [(ngModel)]="checked"
    >
    <label
    for="navMain__checkbox"
    class="nav-main__btn-collapse-icon"
    >
        <span class="icon-nav"></span>
        <span class="icon-nav"></span>
        <span class="icon-nav"></span>
    </label>
    <div class="nav-main__btn-collapse-bg"></div>
    <div class="social-networks">
        <a 
        (click)="noChecked()"
        [routerLink]="['login']"
        routerLinkActive="active2"
        class="social-networks__link-item">
            <i class="fa-solid fa-user"></i></a>
        <a
        (click)="noChecked()"
        [routerLink]="['register']"
        routerLinkActive="active2"
        class="social-networks__link-item">
            <i class="fa-sharp fa-solid fa-users"></i></a>
    </div>
    <div class="nav-main__menu">
        <a
        [routerLink]="['home']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >HOME</a>
        <a
        [routerLink]="['create-character']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >CREAR</a>
        <a
        [routerLink]="['characters']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >JUGADORES</a>
        <a
        [routerLink]="['bosses']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >BOSSES</a>
        <a
        [routerLink]="['weapons']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >ARMAS</a>
        <a
        [routerLink]="['armors']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >ARMADURAS</a>
        <a
        [routerLink]="['talismans']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >TALISMANES</a>
        <a
        [routerLink]="['incantations']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >HECHIZOS</a>
        <a
        [routerLink]="['items']"
        routerLinkActive="active"
        class="nav-main__link-item"
        (click)="noChecked()"
        >ITEMS</a>
    </div>
</nav>
