<div
class="header"
>
    <img 
        (click)="goHome()"
        class="header__logo"
        src="../../../../assets/images/eldenring-opensource-logo.png"
        alt="logo Elden"
    />
</div>
<nav class="nav-main">
    <input
    type="checkbox"
    class="nav-main__btn-collapse"
    id="navMain__checkbox"
    >
    <label
    for="navMain__checkbox"
    class="nav-main__btn-collapse-icon"
    >
        <span class="icon-nav"></span>
        <span class="icon-nav"></span>
        <span class="icon-nav"></span>
    </label>
    <div class="nav-main__btn-collapse-bg"></div>
    <div class="social-networks">
        <a href="https://github.com/Numby86" target="blank" class="social-networks__link-item">
            <i class="fa-brands fa-github"></i></a>
        <a href="https://github.com/Numby86" target="blank" class="social-networks__link-item">
            <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="nav-main__menu">
        <a
        [routerLink]="['home']"
        routerLinkActive="active"
        class="nav-main__link-item">HOME</a>
        <a
        [routerLink]="['create-character']"
        routerLinkActive="active"
        class="nav-main__link-item">CREAR</a>
        <a
        [routerLink]="['bosses']"
        routerLinkActive="active"
        class="nav-main__link-item">BOSSES</a>
        <a
        [routerLink]="['weapons']"
        routerLinkActive="active"
        class="nav-main__link-item">ARMAS</a>
        <a
        [routerLink]="['items']"
        routerLinkActive="active"
        class="nav-main__link-item">ITEMS</a>
    </div>
</nav>




<!-- <div
    class="menu"
>
    <img 
        class="menu__image"
        src="../../../../assets/images/eldenring-rune-icon.png"
        alt="runa Elden"
        />
    <ul
    class="menu__ul"
    >
        <span class="fa-solid fa-bars"></span>
        <li
        class="menu__ul_li"
        ><a href="">Home</a></li>
        <li
        class="menu__ul_li"
        ><a href="">Personajes</a></li>
        <li
        class="menu__ul_li"
        ><a href="">Armas</a></li>
        <li
        class="menu__ul_li"
        ><a href="">Crea</a></li>
    </ul>
</div> -->