*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ifm-color-primary: #ab966f;
    --ifm-color-primary-dark: #998763;
    --ifm-color-primary-darker: #887858;
    --ifm-color-primary-darkest: #77694d;
    --ifm-color-primary-light: #b3a07d;
    --ifm-color-primary-lighter: #bbab8b;
    --ifm-color-primary-lightest: #c4b59a;

    --ifm-code-font-size: 95%;

    --size-btn-collapse: 10.5rem;

    --time-animation: 0.3s;

    --box-shadow: 3px 7px 7px rgba(0 0 0 / 22%)
}
body{
    font-family: 'cascadia code';
    color: #c4b59a;
    background: url('../assets/images/blackCaballero.jpg') 
        no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.btn {
    font-weight: bold;
    padding: 0.9em 1.9em;
    font-size: 16px;
    border: none;
    background-image: linear-gradient(120deg,#c4b59a,#77694d);
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 144px;
    max-width: 144px;
}
.btn:hover {
    color: black;
}
.btn::before,.btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.096);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s;
}
.btn::after {
    z-index: -2;
    transition: all 0.4s;
}

.btn:hover::before {
    background: rgb(0, 0, 0, 0.315);
    border-radius: 10px;
}

.btn:hover::after {
    background: linear-gradient(to right, #77694d, #b3a07d);
    border-radius: 10px;
    transform: scale(1.07, 1.2) rotateX(180deg);
}

.ipt{
    font-weight: bold;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-image: linear-gradient(120deg,#c4b59a,#77694d);
    color: black;
    cursor: pointer;
    padding: 7px 12px;
    font-size: 16px;
    transition: all 1s;
    outline-color: none;
    margin-bottom: 10px;
    &:focus{
        outline-color: gold;
        box-shadow: 0 0 35px #ab966f;
    }
    &:hover{
        box-shadow: 0 0 35px #ab966f;
    }
    &::placeholder{
        font-weight: bold;
        color: black;
    }
}