<div
class="weapons"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    
    />
    <div
    class="weapons__buttons"
    >
        <button
        class="btn"
        (click)="ordenMenMay()"
        >ASC</button>
        <button
        class="btn"
        (click)="ordenMayMen()"
        >DES</button>
    </div>
    <div
    class="weapons__card"
    *ngFor="let weapon of weapons | pagination:pagina | searchWeapons:searchName | sort:weight"
    >
        <div
        (click)="goToDetail(weapon.id)"
        class="weapons__card-data"
        >
            <p
            class="weapons__card-list"
            >{{ weapon.name }}</p>
            <p
            class="weapons__card-list"
            >{{ weapon.weight }}</p>
        </div>
    </div>
    <div
    class="weapons__buttons"
    >
        <button
        [ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
        (click)="prevPage()"
        class="btn"
        >PREVIOUS</button>
        <button
        [ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
        (click)="nextPage()"
        class="btn"
        >NEXT</button>
    </div>
</div>
