.weapons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &__card{
        margin: 7px;
        width: 600px;
        
        &-data{
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            background-color: #77694d;
            color: black;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                box-shadow: 0 0 15px #ab966f;
            }
        }
        &-info{
            background-color: black;
            color: #c4b59a;
            padding: 2px 7px 2px 7px;
            border-radius: 50%;
            box-shadow: 0 0 8px black;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {

    .weapons__card{
        margin: 7px;
        width: 375px;
    }
    
 }
