.items{
    width: calc(100% - 20%);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    &__card{
        margin: 7px;
        width: 335px;
        height: 415px;
        background-color: #77694d;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 7px;
        border-radius: 10px;
        border: #c4b59a 1px solid;
            box-shadow: 0 0 15px #c4b59a;
        gap: 15px;
        &-image{
            width: 180px;
            height: 180px;
            margin-top: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            border: #c4b59a 1px solid;
            box-shadow: 0 0 15px #c4b59a;
            border-radius: 30%;
        }
        &-name{
            background-color: rgba(0, 0, 0, 0.8);
            border: #c4b59a 1px solid;
            box-shadow: 0 0 15px #c4b59a;
            border-radius: 3%;
            font-weight: bold;
            padding: 5px;
            font-size: 18px;
        }
        &-description{
            background-color: #c4b59a;
            border: 1px solid black;
            font-size: 13px;
            color: black;
            box-shadow: 0 0 15px black;
            padding: 2px;
        }
        }
    }
