<div
class="items__input"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    />
</div>
<div
class="items"
>
    <div
    *ngFor="let item of items | pagination:pagina | searchItems:searchName"
    class="items__card">
        <img
        class="items__card-image"
        [src]="item.image" 
        alt={{item.name}}>
        <p
        class="items__card-name"
        >
            {{item.name}}
        </p>
        <p
        class="items__card-description"
        >
            {{item.description}}
        </p>
    </div>
    </div>
<div
    class="items__buttons"
    >
    <button
    [ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
    (click)="prevPage()"
    class="btn"
    >PREVIOUS</button>
    <button
    [ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
    (click)="nextPage()"
    class="btn"
    >NEXT</button>
</div>