<div
class="items__input"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    />
</div>
<div
class="items"
>
    <div
    *ngFor="let item of items | pagination:pagina | searchItems:searchName"
    class="items__card">

        <!-- <app-view-cards [elementIMG]="item.image" [elementNAME]="item.name"></app-view-cards>
        <app-view-cards [elementNAME]="item.name"></app-view-cards>
        <app-view-cards [elementDES]="item.description"></app-view-cards> -->

        <img
        class="items__card-image"
        [src]="item.image || 'https://assets.reedpopcdn.com/elden-ring-golden-seeds-locations-8042-1648051935260.jpg/BROK/thumbnail/1200x1200/quality/100/elden-ring-golden-seeds-locations-8042-1648051935260.jpg'" 
        alt={{item.name}}>
        <p
        class="items__card-name"
        >
            {{item.name}}
        </p>
        <p
        class="items__card-description"
        >
            {{item.description}}
        </p>
    </div>
</div>
<div
class="items__buttons"
>
<button
[ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
(click)="prevPage()"
class="btn"
>PREVIOUS</button>
<button
[ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
(click)="nextPage()"
class="btn"
>NEXT</button>
</div>
    <!-- <app-pagination [pagina]="pagina"></app-pagination> -->