.home{
    background-color: #77694d;
    height: 775px;
    width: calc(100% - 62%);
    margin-left: 5%;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    &__image{
        width: 877px;
        height: 480px;
    }
}