<div
class="home"
>
    <div
    >
    <img
    class="home__image"
    [src]="locations[myNumber].image" 
    alt='imagen'>
    </div>
    <h1
    class="home__title"
    >Bienvenidos a la pagina de Elden Ring.</h1>
    <p
    class="home__text"
    >
    
        En esta pagina podreis consultar todo tipo de detalles del videojuego. Teneis a vuestros personajes favoritos, listado de armas, los bosses del juego, items... Y todo con datos y estadisticas de cada uno. <br>
        Tambien podreis crearos a vuestro propio personaje  y elegir la clase que mas se adapte a vuestro estilo de juego. <br>
    </p>
</div>