.home{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: calc(100% - 60%);
    margin-left: 9.4%;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 0 15px #c4b59a;
    border-radius: 20px;
    &__image{
        width: 99%;
        margin-right: auto;
        height: 480px;
        margin-top: 20px;
        background-color: transparent;
    }
    &__title{
        font-size: 24px;
        color: #c4b59a;
        margin-top: 10px;
        padding: 3px;
    }
    &__text{
        color: #c4b59a;
        font-size: 20px;
        margin-left: 12px;
        margin-top: 10px;
        padding: 5px;
    }
    & a{
        padding: 2px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            color: black;
            background-color: #ab966f;
        }
    }
    
}

@media screen and (max-width: 480px) {

    .home{
        justify-content: center;
        width: calc(100% - 10%);
        margin-left: 5%;
        font-size: 18px;
        &__image{
            width: 97%;
            margin-left: 6px;
            height: 240px;
            margin-top: 15px;
        }
    }
 }

 @media screen and (min-width: 480px) and (max-width: 670px) {

    .home{
        justify-content: center;
        width: calc(100% - 20%);
        margin-left: 10%;
        font-size: 18px;
        &__image{
            max-width: 98%;
            margin: auto;
        }
    }
 }

 @media screen and (min-width: 670px) and (max-width: 1024px) {

    .home{
        justify-content: center;
        width: calc(100% - 30%);
        margin-left: 15%;
        font-size: 22px;
        &__image{
            width: 99%;
            margin-left: 6px;
            height: 360px;
            margin-top: 15px;
        }
    }
 }