.main{
    background-color: red;
    left: 300px;
    width: 100%;
    width: calc(100% - 60%);
    margin-left: 6%;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__h1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 60%);
        margin-left: 8%;
    }
    &__card{
        background-color: rgba(0, 0, 0, 0.7);
    }
    &__card-image{
        width: 135px;
        height: 199.5px;
        border: 1px solid;
    }
}