<div
class="home"
>
    <div
    >
    <img
    class="home__image"
    [src]="locations[myNumber].image" 
    alt='imagen'>
    </div>
    <h1
    class="home__title"
    >Bienvenidos a la página de Elden Ring.</h1>
    <p
    class="home__text"
    >
    
    En esta página podréis consultar todo tipo de detalles del videojuego. Tenéis a vuestros personajes favoritos, listado de armas, los bosses del juego, ítems... Y todo con datos y estadísticas de cada uno. <br>
    <a
    class="home-notUser"
    (click)="goToRegister()"
    >Regístrate</a>, o si ya eres usuario haz login y también podréis crearos a vuestro propio personaje y elegir la clase que más se adapte a vuestro estilo de juego. <br>
    </p>
</div>
