.create{
    width: calc(100% - 30%);
    margin: auto;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 35px #ab966f;
    border-radius: 30px;
    &__form{
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100% - 20%);
        margin: auto;
        gap: 30px;
        &-name{
            margin-top: 150px;
        }
        &-error{
            font-size: 14px;
            font-weight: bold;
        }
        & input, select, option {
            font-weight: bold;
            width: calc(100% - 50%);
            border: 3px solid black;
            border-radius: 20px;
            background-image: linear-gradient(120deg,#c4b59a,#77694d);
            color: black;
            cursor: pointer;
            padding: 7px 12px;
            font-size: 17px;
            transition: all 1s;
            outline-color: none;
            &:focus{
                outline-color: gold;
                box-shadow: 0 0 35px #ab966f;
            }
            &:hover{
                box-shadow: 0 0 35px #ab966f;
            }
            &::placeholder{
                font-weight: bold;
                color: black;
            }
           }
        &-option{
            background-color: #c4b59a;
            font-weight: bold;
        }
        
    }
}
.btn {
    font-weight: bold;
    padding: 0.9em 1.9em;
    font-size: 16px;
    border: none;
    background-image: linear-gradient(120deg,#c4b59a,#77694d);
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 1;
   }
   
   .btn:hover {
    color: black;
   }
   
   .btn::before,.btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.096);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.4s;
   }
   
   .btn::after {
    z-index: -2;
    transition: all 0.4s;
   }
   
   .btn:hover::before {
    background: rgb(0, 0, 0, 0.315);
    border-radius: 10px;
   }
   
   .btn:hover::after {
    background: linear-gradient(to right, #77694d, #b3a07d);
    border-radius: 10px;
    transform: scale(1.07, 1.2) rotateX(180deg);
   }