<div
class="create"
>
<div
class="create__class"
>
    <img
        *ngIf="eleccion"
        class='create__class-image'
        [src]="eleccion.image" 
        alt="eleccion.image">
    <div
    *ngIf="eleccion"
    class="create__class-stats"
    >
        <p
        class="create__class-level"
        >NIVEL &nbsp; {{eleccion.stats.level}}</p>
        <p>Vigor&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{eleccion.stats.vigor}}</p>
        <p>Mente&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{eleccion.stats.mind}}</p>
        <p>Aguante&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  {{eleccion.stats.endurance}}</p>
        <p>Fuerza&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; {{eleccion.stats.strength}}</p>
        <p>Destreza&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{eleccion.stats.dexterity}}</p>
        <p>Inteligencia&nbsp; &nbsp; &nbsp;{{eleccion.stats.intelligence}}</p>
        <p>Fe&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{eleccion.stats.faith}}</p>
        <p>Arcano&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; {{eleccion.stats.arcane}}</p>
    </div>
</div>
    <form
    *ngIf="createForm"
    (submit)="sendForm()"
    class="create__form"
    [formGroup]="createForm"
    >
        <input
        class="create__form-name"
        name="name"
        placeholder="Nombre de tu personaje"
        type="text"
        formControlName="name">
        <p
        *ngIf="!createForm.get('name')?.valid 
            && createForm.get('name')?.dirty  
            && createForm.get('name')?.errors?.['required']"
        class="create__form-error"
        >El valor de este campo es obligatorio</p>
        <input
        class="create__form-edad"
        name="edad"
        placeholder="Edad" 
        type="text" 
        formControlName="edad">
        <p
        *ngIf="!createForm.get('edad')?.valid 
            && createForm.get('edad')?.dirty  
            && createForm.get('edad')?.errors?.['required']"
        class="create__form-error"
        >El valor de este campo es obligatorio</p>
        <p
        *ngIf="!createForm.get('edad')?.valid 
            && createForm.get('edad')?.dirty  
            && createForm.get('edad')?.errors?.['maxlength']"
        class="create__form-error"
        >La edad tiene un maximo de 3 caracteres</p>
        <p
        *ngIf="!createForm.get('edad')?.valid 
            && createForm.get('edad')?.dirty  
            && createForm.get('edad')?.errors?.['pattern']"
        class="create__form-error"
        >Solo se pueden usar numeros en este campo</p>
        <input
        class="create__form-image"
        name="image"
        placeholder="Avatar" 
        type="text" 
        formControlName="image">
        <select
        class="create__form-complexion"
        name="complexion" 
        formControlName="complexion">
            <option 
            class="create__form-option" 
            default value="">Complexion</option>
            <option
            class="create__form-option"
            *ngFor="let complexion of complexiones" 
            [value]="complexion">{{ complexion }}</option>
        </select>
        <p
        *ngIf="!createForm.get('complexion')?.valid 
            && createForm.get('complexion')?.touched  
            && createForm.get('complexion')?.errors?.['required']"
        class="create__form-error"
        >El valor de este campo es obligatorio</p>
        <select
        class="create__form-recuerdo"
        name="recuerdo" 
        formControlName="recuerdo">
            <option 
            class="create__form-option"
            default value="">Recuerdo</option>    
            <option
            class="create__form-option"
            *ngFor="let recuerdo of recuerdos" 
            [value]="recuerdo">{{ recuerdo }}</option>
        </select>
        <p
        *ngIf="!createForm.get('recuerdo')?.valid 
            && createForm.get('recuerdo')?.touched  
            && createForm.get('recuerdo')?.errors?.['required']"
        class="create__form-error"
        >El valor de este campo es obligatorio</p>
        <select
        class="create__form-clase"
        name="clase" 
        formControlName="claseName">
            <option
            class="create__form-option"
            default
            value=''>Clase</option>
            <option
            class="create__form-option"
            *ngFor="let clase of claseName"
            [value]="clase">{{ clase }}</option>
        </select>
        <p
        *ngIf="!createForm.get('claseName')?.valid 
            && createForm.get('claseName')?.touched  
            && createForm.get('claseName')?.errors?.['required']"
        class="create__form-error"
        >El valor de este campo es obligatorio</p>
        <button
        type="submit"
        [disabled]="!createForm.valid"
        [ngStyle]="{color: !createForm.valid && createForm.touched ? 'red' : 'black'}"
        class="btn"> {{ editForm ? 'EDIT' : 'CREATE' }} </button>
    </form>

</div>
