.characters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &__card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 7px;
        width: 600px;
        &-image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            box-shadow: 0 0 15px black;
        }
        &-data{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 70px;
            width: 100%;
            font-size: 20px;
            background-color: #77694d;
            color: black;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                box-shadow: 0 0 15px #ab966f;
            }
        }
        &-name{
            margin-left: 30px;
            width: 120px;
        }
    }
}

