body{
    // background-color: rgb(41, 41, 41);
    background: url('./assets/images/blackCaballero.jpg') no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
