<div
class="armors__input"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    />
</div>
<div
class="armors__buttons"
>
    <button
    class="btn"
    (click)="ordenMenMay('asc')"
    >ASC</button>
    <button
    class="btn"
    (click)="ordenMayMen('desc')"
    >DES</button>
</div>
<div
class="armors"
>
    <div
    *ngFor="let armor of armors | sort:weight | searchArmors:searchName"
    class="armors__card">
        <img
        class="armors__card-image"
        [src]="armor.image" 
        alt={{armor.name}}>
        <p
        class="armors__card-name"
        >
            {{armor.name}}
        </p>
        <p
        class="armors__card-weight"
        >
            PESO: {{armor.weight}}
        </p>
        <p
        class="armors__card-description"
        >
            {{armor.description}}
        </p>
    </div>
    
</div>
<div
    class="armors__buttons"
    >
        <button
        [ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
        (click)="prevPage()"
        class="btn"
        >PREVIOUS</button>
        <button
        [ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
        (click)="nextPage()"
        class="btn"
        >NEXT</button>
    </div>