<div
class="incantations__input"
>
    <input
    class="ipt"
    type="text" 
    placeholder="Buscar ..."
    [(ngModel)]="searchName"
    />
</div>
<div
class="incantations"
>
    <div
    *ngFor="let incantation of incantations | pagination:pagina | searchIncantations:searchName"
    class="incantations__card">
        <img
        class="incantations__card-image"
        [src]="incantation.image || 'https://assets.reedpopcdn.com/elden-ring-golden-seeds-locations-8042-1648051935260.jpg/BROK/thumbnail/1200x1200/quality/100/elden-ring-golden-seeds-locations-8042-1648051935260.jpg'" 
        alt={{incantation.name}}>
        <p
        class="incantations__card-name"
        >
            {{incantation.name}}
        </p>
        <p
        class="incantations__card-effect"
        >
            {{incantation.effects}}
        </p>
        <p
        class="incantations__card-description"
        >
            {{incantation.description}}
        </p>
    </div>
    
</div>
<div
    class="incantations__buttons"
    >
        <button
        [ngStyle]="pagina <= 0 ? {'display': 'none'} : null"
        (click)="prevPage()"
        class="btn"
        >PREVIOUS</button>
        <button
        [ngStyle]="pagina >= 80 ? {'display': 'none'} : null"
        (click)="nextPage()"
        class="btn"
        >NEXT</button>
</div>