<div
class="armorDET"
>
    <div
    (click)="backToList()"
    class="armorDET__card"
    *ngIf="armor"
    >
        <div
        class="armorDET__card-imageStats"
        >
            <img 
            class="armorDET__card-image"
            [src]="armor.image" 
            alt="imagen {{ armor.name }}">
            <div
            class="armorDET__card-dropsStats"
            >
                <p
                class="armorDET__card-healthPoints"
                >PUNTOS DE VIDA: {{ armor.weight }}</p>
                <p
                class="armorDET__card-drops"
                >DROPS: </p>
                <p
                class="armorDET__card-drops"
                >{{ armor }}</p>
            </div>
        </div>
        <div
        class="armorDET__card-text"
        >
            <p
            class="armorDET__card-name"
            >{{ armor.name }}</p>
            <p
            class="armorDET__card-region"
            >Region: {{ armor }}</p>
            <p
            class="armorDET__card-description"
            >{{ armor.description }}</p>
        </div>
    </div>
    <button
    class="btn"
    (click)="backToList()"
    >GO LIST</button>
</div>